.img-wrapper img {
  width: 100%;
  height: auto;
}
.img-wrapper {
  max-width: 100px;
  overflow: hidden;
  object-fit: contain;
}

.App {
  display: flex;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrapper {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}

.btn-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 15px 0px;
}

.btn-wrapper button {
  background-color:tomato;
  padding:4px 10px;
  border-radius: 5px

}

.cart-wrapper {
  display:flex;
  border:2px solid gray;
  padding:10px 20px;
  border-radius:5px;
  gap:20px;
}

.add-to-cart {
  position: absolute;
  right:0;
  height:50px;
  width:50px;
margin:20px;
}

.add-to-cart img{
width:100%;
height:auto;
}
